*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

nav{
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    justify-content: flex-start;
   
}

nav a{
    color: white;
    text-decoration: none;
    /* display: inline-block; */
}

header{
    background: #f12711;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    padding: 48px;
    height: auto;
}

.container{
    width: 95%;
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

img{
    display: block;
    height: 450px;
    object-fit: cover;
    width: auto;
    animation: moverIzquierda 2s ease-in;
}

.textos{
    width: 50%;
    color: rgb(0, 0, 0);
    animation: moverDerecha 2s ease-in; 
}

.icono{
    display: block;
    animation: moverIzquierda 2s ease-in;
    z-index: 100;
}


.textos h1{
    font-size: 100px;
    font-family: 'Lobster', cursive;
}

.textos h2{
    font-size: 25px;
    color: aliceblue;
}

.wave{
    height: 100px;
    width: 100%;
    background: #f12711;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.enlaces{
    position: fixed;
    /* display: flex;   */
    padding: 50px; 
    top: 0;
    background-color: black;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    left: 0;
    flex-direction: column;
    width: 100%;
    transition: all 1s ease;
    background: #fc4a1a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.uno{
    clip-path: circle(0.0% at 1% 1%);
}

.dos{
    clip-path: circle(150.0% at 1% 1%);
}

@keyframes moverIzquierda{
    0%{
        opacity: 0;
        transform: translateX(-200px);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moverDerecha{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}